{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %} ZAREJESTRUJ SIĘ {% endblock %}


{% block content %}

    <h1 class="brand-title">FORMULARZ REJESTRACYJNY</h1>

{% endblock content %}

{% block content_body %}

    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-6">
                {{ form.username|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.email|as_crispy_field }}
            </div>
                        <div class="col-6">
                {{ form.first_name|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.last_name|as_crispy_field }}
            </div>
                        <div class="col-6">
                {{ form.password1|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.password2|as_crispy_field }}
            </div>
        </div>
        <button type="reset" class="btn btn-secondary">Wyczyść</button>
        <button type="submit" class="btn btn-success">Zapisz</button>
    </form>

{% endblock content_body %}