{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a blog page with a list of posts.">
    <title>{% block title %}{% endblock title %} | Projekt Końcowy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css"
          integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/base-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css">
    <link rel="stylesheet" href="{% static "css/stylesblog.css" %}">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <script type="text/javascript">
        const user = '{{ request.user }}'

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getCookie('csrftoken');

    </script>


</head>

<body>


<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
            {% block content %}

            {% endblock content %}
        </div>
    </div>


    <div class="content pure-u-1 pure-u-md-3-4">
        {#        <div class="pure-menu pure-menu-horizontal pure-menu-scrollable">#}
        <div class="pure-menu pure-menu-horizontal pure-menu-scrollable custom-menu custom-menu-bottom custom-menu-tucked"
             id="tuckedMenu">
            <div class="custom-menu-screen"></div>
            <ul class="pure-menu-list">
                <a href="{% url 'home' %}" class="pure-menu-link pure-menu-heading">GALERIA</a>

                <li class="pure-menu-item">
                    <a href="{% url 'authors' %}" class="pure-menu-link">Lista Autorów</a>
                </li>
                <li class="pure-menu-item">
                    <a href="{% url 'offer' %}" class="pure-menu-link">Oferta</a>
                </li>
                <li class="pure-menu-item">
                    <a href="#" class="pure-menu-link">Aktualności</a>
                </li>
                <li class="pure-menu-item">
                    <a href="{% url 'contact' %}" class="pure-menu-link">Kontakt</a>
                </li>
                <li class="pure-menu-item">
                    <a href="#" class="pure-menu-link">Bilety</a>
                </li>
                {% if user.is_authenticated %}

                    <li class="pure-menu-item">
                        <a href="{% url 'profile' %}" class="pure-menu-link">Twój profil</a>
                    </li>

                    <li class="pure-menu-item">
                        <a href="{% url 'order' %}" class="pure-menu-link">Twoje Zamówienie</a>
                    </li>
                    <li class="pure-menu-item">
                        <a href="{% url 'logout' %}" class="pure-menu-link">Wyloguj się</a>
                    </li>

                {% else %}
                    <li class="pure-menu-item">
                        <a href="{% url 'login' %}" class="pure-menu-link">Zaloguj się</a>
                    </li>
                {% endif %}
                {% if user.is_staff %}
                    <li class="pure-menu-item">
                        <a href="{% url 'add-handicraf' %}" class="pure-menu-link">Dodaj dzieło</a>
                    </li>
                    <li class="pure-menu-item">
                        <a href="{% url 'add_author' %}" class="pure-menu-link">Dodaj Autora</a>
                    </li>
                {% endif %}


            </ul>
        </div>

        <div class="posts">
        </div>
        {% block content_body %}

        {% endblock content_body %}
    </div>
    <div class="footer">
        Talik Jaroslaw - Projekt końcowy
    </div>
</div>

<script type="text/javascript" src="{% static "js/gallery.js" %}"></script>

</body>
</html>