{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %} Zmiana Hasła {% endblock %}


{% block content %}

    <h1 class="brand-title">Zmień Hasło</h1>

{% endblock content %}

{% block content_body %}

    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-6">
                {{ form.old_password|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{ form.new_password1|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.new_password2|as_crispy_field }}
            </div>
        </div>
        <input type="submit" value="Zmień Hasło!">
    </form>

{% endblock content_body %}