{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %} LOGIN {% endblock %}


{% block content %}

    <h1 class="brand-title">ZALOGUJ SIĘ</h1>

{% endblock content %}

{% block content_body %}
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-6">
                {{ form.username|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.password|as_crispy_field }}
            </div>
        </div>
        <button type="submit" class="btn btn-success">Zaloguj</button>
    </form>
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}

    <div class="posts">
        <h6 class="post-title">Nie masz konta?</h6>
        <div class="pure-u-md-1-2">
            <a href="{% url 'user' %}" class="pure-menu-link">załóż konto</a>


        <p class="post-title">Zapomniałeś hasło?</p>
            <a href="{% url 'password_reset' %}" class="pure-menu-link">odzyskaj hasło</a>

        </div>

    </div>
{% endblock content_body %}