{% extends "base.html" %}

{% block title %} Galeria {% endblock %}


{% block content %}

    <h1 class="brand-title">Galeria sztuka nocą</h1>

{% endblock content %}


{% block content_body %}


    <div class="posts">
        <h1 class="content-subhead"></h1>

        <section class="post">
            <header class="post-header">
                <h2 class="post-title">Wstęp o galerii</h2>

                <p class="post-meta">
                    By <a class="post-author" href="#">Ewelina Herwy</a>
                </p>
            </header>

            <div class="post-description">
                <p>
                    {% autoescape off %}
                        To initiate the password reset process for your {{ user.get_username }} TestSite Account,
                        click the link below:
                        {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
                        If clicking the link above doesn't work, please copy and paste the URL in a new browser
                        window instead.
                        Sincerely,
                        The Epicups Team
                    {% endautoescape %}
                </p>
            </div>
        </section>
    </div>


{% endblock content_body %}